RewriteEngine On
# if you installed into subdirectory please fill and decomment next line
#RewriteBase /subdir/
RewriteCond %{REQUEST_FILENAME} !-f
# if you installed into subdirectory please change /index.php into index.php into next line
RewriteRule . /index.php [L]
