<footer class="footer pt-40">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="widget widget_about_us ">
                    <div class="widget-header">
                        <h3>About</h3>
                    </div>
                    <div class="widget-content">
                        <p>
                            Datasound è uno spin off universitario costituito con l'Università degli Studi del Molise dedicato ad un uso attivo ed intelligente dell'enorme quantità di dati che ogni giorno si produce.
                        </p>
                        <ul class="social">
                            <li><a href="https://twitter.com/{{app.links.twitter}}"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://facebook.com/{{app.links.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://linkedin.com/company/{{app.links.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="widget widget_our_contact">
                    <div class="widget-header">
                        <h3>Contacts</h3>
                    </div>
                    <div class="widget-content">
                        <ul class="our-contact">
                            <li>
                                <span class="our-contact-icon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                {{app.email}}
                            </li>
                            <li>
                                <span class="our-contact-icon">
                                    <i class="fa fa-phone"></i>
                                </span>
                               {{app.phone}}
                            </li>
                            <li>
                                <span class="our-contact-icon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                {{app.address}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
       </div>
   </div>
    <div class="copyright text-center mt-60">
        <div class="back-to-top">
            <span class="fa fa-angle-double-up"></span>
        </div>
        &copy; COPYRIGHT 2016 <a href="{{app.url}}">{{app.title}}</a> - All rights reserved
    </div>
</footer>
