<!-- partner
<section class="section bg-dark section-partner pd-0 pt-0" style="background-color: #F9F9F9">
<div class="container">
<div class="row  text-center">
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://unimol.it" target="__BLANK">
            <img src="public/content/logoUNIMOL.png" alt="" width="153">
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://actainrete.it" target="__BLANK">
            <img src="public/content/logoACTA.png" alt="" width="153" >
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://eni.it" target="__BLANK">
            <img src="public/content/logoENI.png" alt="" width="153">
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://smart-it.org" target="__BLANK">
            <img src="public/content/logoSMARTIT.png" alt="" width="153">
        </a>
    </div>
</div>
</div>
</section>-->
<!-- info-box-2 reserve -->
<section class="section bg-lightgray pt-100 pb-100">
<div class="info-box-type-4 info-box-type-4-1  clearfix">
<div class="info-box-content">
    <h1>Datasounds: Get Your Ideas Off the Ground!</h1>
    <p><strong>Datasounds is the blend of potentials emerging from cutting edge scientific research and from the freshness and energy of a start-up.</strong></p>
    <p>Our goal is to provide:</p>
    <ul class="info-list" style="font-size: 18px;">
        <li>the highest technological expertise</li>
        <li>solutions and ideas to boost the efficiency, effectiveness and creativity of organizations, both large and small, and of business ecosystems.</li>
    </ul>
    <p>To sum it up, our mission is to create value together with our customers and partners, and we measure our growth by how much our customers and partners grow as an effect of our abilities and commitment.</p>
</div>
<div class="info-box-thumbnail">
    <img src="public/themes/{{app.theme}}/assets/images/info-box/type-4-6.png" alt="" class="mt-0">
</div>
</div>
</section>
<!-- info-box-type-5 -->
<!--<section class="section bg-dark-gray pt-100 pb-0">
<div class="container">
<div class="info-box-type-5 info-box-type-5-dark">
    <div class="info-box-header text-center">
        <div class="info-box-icon">
            <i class="dslc-icon dslc-icon-as-genius"></i>
        </div>
    <h3>Datasounds: Listening to the Sounds of Data!</h3>
    <p>Datasounds blends skills from information technology, business innovation,  and scientific and technological consulting. By leveraging specific capabilities, Datasounds can deliver highly innovative solutions in cybersecurity, business intelligence and data analytics, all made very usable through immersive metaphors for data display and communication.</p>
        <div class="divider divider-line-heading divider-fullwidth">
            <div class="line-middle"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-02.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Big Data Analysis</h3>
                <p>
                    Our innovative solutions for big data analysis, that peer into data with insight and accuracy, come with a boosted user experience derived from intuitive and engaging interfaces for data visualization.
                </p>
                 <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-03.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Social Media Analysis</h3>
                <p>
                    We provide innovative methods of natural language understanding aimed to the analysis of social media, such as tweets and Facebook posts, so as to derive trends, analyze emerging topics, and assess brand reputations.
                </p>
                <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-01.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Recommender systems</h3>
                <p>
                    Our innovative recommender systems exploit advanced techniques from artificial intelligence and machine learning to help decision makers make the right choices in a world that gets every day more challenging and complex.
                </p>
                 <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
</div>
</div>
</section> -->
