<!-- partner 
<section class="section bg-dark section-partner pd-0 pt-0" style="background-color: #F9F9F9">
<div class="container">
<div class="row  text-center">
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://unimol.it" target="__BLANK">
            <img src="public/content/logoUNIMOL.png" alt="" width="153">
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://actainrete.it" target="__BLANK">
            <img src="public/content/logoACTA.png" alt="" width="153" >
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://eni.it" target="__BLANK">
            <img src="public/content/logoENI.png" alt="" width="153">
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 partner">
        <a href="http://smart-it.org" target="__BLANK">
            <img src="public/content/logoSMARTIT.png" alt="" width="153">
        </a>
    </div>
</div>
</div>
</section>-->
<!-- info-box-2 reserve -->
<section class="section bg-lightgray pt-100 pb-100">
<div class="info-box-type-4 info-box-type-4-1  clearfix">
<div class="info-box-content">
    <h3>Datasounds: Get Your Ideas Off the Ground!</h3>
    <p><strong>Datasounds is the sum of expertises deriving from a high quality and productive scientific background and the freshness and energy of a start-up.</strong></p>
    <p>Our aim is to provide</p>
    <ul class="info-list">
        <li>high quality technological expertises,</li>
        <li>solutions and ideas for the business and management of large companies.</li>
    </ul>
    <p>But not only that.</p>
    <p>We also aim at co-creating value for customers, for datasounds and for all its members and collaborators.</p>
</div>
<div class="info-box-thumbnail">
    <img src="public/themes/{{app.theme}}/assets/images/info-box/type-4-6.png" alt="" class="mt-0">
</div>
</div>
<!-- info-box-type-5 -->
<section class="section bg-dark-gray pt-100 pb-0">
<div class="container">
<div class="info-box-type-5 info-box-type-5-dark">
    <div class="info-box-header text-center">
        <div class="info-box-icon">
            <i class="dslc-icon dslc-icon-as-genius"></i>
        </div>
    <h3>Datasounds: Listening to the Sounds of Data!</h3>
    <p>Datasounds will provide practices that represent the aggregation of high skills in the fields of Information Technology, innovation for business, engineering, processes and organization of scientific and technological consultanting. The practices of information technology are articulated in specific capabilities and highly innovative solutions in cybersecurity, in business intelligence and data analytics, the definition of advanced methaphores for display and data communication and information, and in information management.</p>
        <div class="divider divider-line-heading divider-fullwidth">
            <div class="line-middle"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-02.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Big Data Analysis</h3>
                <p>
                    We provide on the one hand innovative solutions for deriving interesting patterns from the analysis of big data, and on the other hand effective and efficient methaphores for the visualization of such patterns.
                </p>
                <!-- <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a> -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-03.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Social Media Analysis</h3>
                <p>
                    We provide innovative natural language models for the analysis of social media (e.g., tweets, facebook posts) in order to derive trends, identify emerging topics, and analyze brand reputations. 
                </p>
                <!-- <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a> -->
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-01.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title" style="color: white">Recommender systems</h3>
                <p>
                    We provide innovative reccomender systems based on advanced machine learning techniques able to support the decision makers in intriguing and complex situations. 
                </p>
                <!-- <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a> -->
            </div>
        </div>
    </div>
</div>
</div>
</section>