<section class="section bg-parallax section-landing-subcribe pt-100 pb-100" data-background="/public/themes/{{app.theme}}/assets/images/layout/home-landing/subcribe-parallax.jpg">
    <div class="bg-overlay" style="opacity: 0.5"></div>
    <div class="container">
        <div class="section-header text-center">
            <div class="section-icon small">
                <i class="dslc-icon dslc-icon-as-hotairballoon"></i>
            </div>
            <h4>STAY UPDATED</h4>
            <p>We promise we won't spam you. We swear. You'll get just the latest news about datasounds.</p>
        </div>
        <div class="section-content col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
            <div class="text-center">
                <form action="//datasounds.us14.list-manage.com/subscribe/post?u=de532b72ef1319bc9e252b1e7&amp;id=96b5fc651a" method="post" accept-charset="utf-8">
                    <input type="email" placeholder="Email address" name="EMAIL" >
                    <button type="submit">Sign up</button>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_de532b72ef1319bc9e252b1e7_96b5fc651a" tabindex="-1" value=""></div>
                </form>
            </div>
        </div>
    </div>
</section>
