<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/jquery-countTo/jquery.countTo.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/smoothscroll/dist/smoothscroll.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/wow/dist/wow.min.js"></script>
<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/bower_components/jquery-parallax/scripts/jquery.parallax-1.1.3.js"></script>

<script type="text/javascript" src="{{app.url}}/public/themes/{{app.theme}}/assets/js/custom.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script id="dsq-count-scr" src="//thedatasounds.disqus.com/count.js" async></script>
