<section class="slider">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">

    <!--<ol class="carousel-indicators">
      <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-home" data-slide-to="1"></li>
      <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol> -->

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{app.url}}/public/themes/{{app.theme}}/assets/images/slider/image1.jpg" alt="...">
        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.7);">
          <h1 class="info-box-title" style="color: white"><span id="text">Datasounds and<span> Big Data Analysis</h1>
          <p style="color: white; text-shadow: 2px 1px #000;">
              Our innovative solutions for big data analysis, that peer into data with insight and accuracy, come with a boosted user experience derived from intuitive and engaging interfaces for data visualization.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="{{app.url}}/public/themes/{{app.theme}}/assets/images/slider/image2.jpg" alt="...">
        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.7);">
          <h1 class="info-box-title" style="color: white">Datasounds and Social Media Analysis</h1>
          <p style="color: white; text-shadow: 2px 1px #000;">
              We provide innovative methods of natural language understanding aimed to the analysis of social media, such as tweets and Facebook posts, so as to derive trends, analyze emerging topics, and assess brand reputations.
          </p>
        </div>
      </div>
      <div class="item">
        <img src="{{app.url}}/public/themes/{{app.theme}}/assets/images/slider/image3.jpg" alt="...">
        <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.7);">
          <h1 class="info-box-title" style="color: white">Datasounds and Recommender systems</h1>
          <p style="color: white; text-shadow: 2px 1px #000;">
              Our innovative recommender systems exploit advanced techniques from artificial intelligence and machine learning to help decision makers make the right choices in a world that gets every day more challenging and complex.
          </p>
        </div>
      </div>
    </div>


    <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
