<section class="section user-default pt-90 pb-90">
    <div class="container">
        <div class="user-section-header text-center">
            <div class="user-section-icon">
                <i class="dslc-icon dslc-icon-as-profile-male"></i>
            </div>
            <h3 class="user-section-title">
                    Team
                </h3>
            <p>
              We are a great group that complete each other trying to solve big problems with easy and reliable solutions.
            </p>
            <div class="divider divider-line-heading divider-fullwidth">
                <div class="line-middle"></div>
            </div>
        </div>
        <div class="user-section-content">
            <div class="row">
              {{#each app.authors.lead}}
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="user-type-1">
                      <div class="user-thumbnail">
                          <img src="{{app.url}}/public/content/{{pic}}" alt="{{name}}'s picture'">
                      </div>
                      <div class="user-content">
                          <h4 class="user-name">{{name}}</h4>
                          <div class="user-position">{{role}}</div>
                          <ul class="social social-circle">
                              <li>
                                  <a href="https://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="https://facebook.com/{{facebook}}"><i class="fa fa-facebook"></i></a>
                              </li>
                              {{#if linkedin}}
                              <li>
                                  <a href="https://linkedin.com/in/{{linkedin}}"><i class="fa fa-linkedin"></i></a>
                              </li>
                              {{/if}}
                          </ul>
                      </div>
                  </div>
              </div>
              {{/each}}
            </div>
            <div class="row">
              {{#each app.authors.board}}
              <div class="col-xs-6 col-sm-3 col-md-2">
                  <div class="user-type-1">
                      <div class="user-thumbnail">
                          <img src="{{app.url}}/public/content/{{pic}}" alt="{{name}}'s picture'">
                      </div>
                      <div class="user-content">
                          <h4 class="user-name">{{name}}</h4>
                          <div class="user-position">{{role}}</div>
                          <ul class="social social-circle">
                              <!-- <li>
                                  <a href="https://twitter.com/{{twitter}}"><i class="fa fa-twitter"></i></a>
                              </li> -->
                              <!-- <li>
                                  <a href="https://facebook.com/{{facebook}}"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li>
                                  <a href="https://linkedin.com/pub/{{linkedin}}"><i class="fa fa-linkedin"></i></a>
                              </li> -->
                          </ul>
                      </div>
                  </div>
              </div>
              {{/each}}
            </div>
        </div>
    </div>
</section>
