<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"> <!--<![endif]-->
<head>
    {{>head}}
    <title>{{app.title}} - Blog</title>
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="back-to-top" ></div>
    <div class="preloader-wrapper" id="preloader">
        <div class="folding-cube">
            <div class="cube cube-1"></div>
            <div class="cube cube-2"></div>
            <div class="cube cube-4"></div>
            <div class="cube cube-3"></div>
        </div>
    </div>
    {{>header}}
    <!-- wrapper -->
    <div class="wrapper">
      <section class="section bg-parallax page-intro text-center" data-background="{{app.url}}/public/themes/{{app.theme}}/assets/images/layout/about-me/parallax-about-us-1.jpg" style="background-image: url(/public/themes/{{app.theme}}/assets/images/layout/about-me/parallax-about-us-1.jpg); background-position: 50% 0px; background-repeat: initial initial;">
            <div class="bg-overlay" style="opacity: 0.3"></div>
            <div class="container">
                <h1>Datasound blog</h1>
            </div>
      </section>
      <section class="section blog-content blog-content-none pt-0 pb-0">
            <div class="container">
                <div class="blog-post pt-40 pb-40">
                  {{#each posts}}
                    <article class="post post-vertical-2">
                        <header class="post-header">
                            <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
                            <div class="post-meta">
                                {{#if metas.author}}
                                 <span class="post-author">By <a href="#">{{{metas.author.name}}}</a></span>
                                {{/if}}
                                <!-- <span class="post-comments">
                                    <i class="fa fa-comment-o"></i>
                                    No comments
                                </span> -->
                                <!-- <span class="post-favorite">
                                    <i class="fa fa-heart-o"></i>
                                    4 like
                                </span> -->
                                <span class="post-category">
                                    <i class="fa fa-folder-open-o"></i>
                                    {{#if metas.tags}}:
                                      {{#each metas.tags}}
                                        <a href="#">{{{.}}}</a>
                                      {{/each}}
                                      </span>
                                    {{/if}}
                                </span>
                            </div>
                            <div class="post-meta-special">
                                <div class="posted-on">
                                    <span class="date">
                                        {{#format_date_with_locale date '%e'}}
                                    </span>
                                    <span class="month">
                                        {{#format_date_with_locale date '%b'}}
                                    </span>
                                </div>
                                <span class="post-type">
                                    <i class="dslc-icon dslc-icon-as-note"></i>
                                </span>
                            </div>
                        </header>
                        <div class="post-thumbnail">
                          {{#if metas.image}}
                            <a href="{{url}}"><img src="{{metas.image}}" alt=""></a>
                          {{else}}
                            <a href="{{url}}"><img src="/public/themes/{{app.theme}}/assets/images/layout/blog/blog-sidebar/01.jpg" alt=""></a>
                          {{/if}}
                        </div>
                        <div class="post-content">
                            <p class="text-justify">
                              {{#excerpt body 80 ' […]'}}
                            </p>
                        </div>
                        <footer class="post-footer clearfix">
                            <a href="{{url}}" class="post-readmore pull-left"><i class="fa fa-long-arrow-right"></i> Learn more</a>
                            <div class="post-social-sharing pull-right">
                                <a href="#"><i class="fa fa-share-alt"></i> Share</a>
                                <ul class="share-button clearfix">
                                    <li class="social-facebook">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{#urlencode url}}"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="social-twitter">
                                        <a href="https://twitter.com/home?status=Read%20this%20post%20by%20Datasound%20{{#urlencode url}}"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                    </article>
                    {{/each}}
                    <div class="page-pagination text-right">
                        <ul class="pagination">
                            {{#if has_pagination.prev}}
                              <li>
                                <a href="{{app.url}}/blog/page/{{has_pagination.prevpage}}" class="pagination-arrow newer"><i class="fa fa-angle-double-left"> Newer</a>
                              </li>
                            {{/if}}
                            {{#if has_pagination.next}}
                              <li>
                                <a href="{{app.url}}/blog/page/{{has_pagination.nextpage}}" class="pagination-arrow older">Older <i class="fa fa-angle-double-right"></i></a>
                              </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{>newsletter}}
        {{>footer}}
    </div>
    <!-- /wrapper -->
    {{>scripts}}
  </body>
</html>
