<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en"> <!--<![endif]-->
<head>
    {{>head}}
    <title>{{app.title}} - {{title}}</title>
</head>
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
    <div id="back-to-top" ></div>
    <div class="preloader-wrapper" id="preloader">
        <div class="folding-cube">
            <div class="cube cube-1"></div>
            <div class="cube cube-2"></div>
            <div class="cube cube-4"></div>
            <div class="cube cube-3"></div>
        </div>
    </div>
    {{>header}}
    <!-- wrapper -->
    <div class="wrapper">
        {{>slider}}
        {{>home_content}}
        {{>team}}
        {{>newsletter}}
        {{>footer}}
    </div>
    <!-- /wrapper -->
    {{>scripts}}
  </body>
</html>
