<!-- partner -->
<section class="section bg-dark section-partner pd-0 pt-0">
<div class="container">
<div class="carousel owl-carousel" data-owl-margin="50" data-owl-navigation="false" data-owl-pagination="false" data-lg="6" data-md="6" data-sm="4" data-xs="3" data-owl-dots="true" data-owl-timeout="3000">
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/01.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/02.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/03.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/04.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/05.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/06.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/07.png" alt="">
        </a>
    </div>
    <div class="partner">
        <a href="home-landing.html#">
            <img src="public/themes/{{app.theme}}/assets/images/partner/08.png" alt="">
        </a>
    </div>
</div>
</div>
</section>
<!-- info-box -->
<section class="section pt-80 pb-80">
<div class="container">
<div class="section-header text-center">
    <div class="section-icon small">
        <i class="dslc-icon dslc-icon-as-linegraph"></i>
    </div>
    <h4>How Monalisa Works ?</h4>
    <p>Developing breakthrough insights, think tank disrupt investment donate. Meaningful work peace, donors growth Kony 2012 transformative. <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="divider divider-line-heading divider-fullwidth">
        <div class="line-middle"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-01.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title">Revolution for Your Business.</h3>
                <p>
                    Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus consectetur fermentum .
                </p>
                <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-02.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title">Compatible with any Platform.</h3>
                <p>
                    Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus consectetur fermentum .
                </p>
                <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="info-box-type-1">
            <div class="info-box-thumbnail">
                <img src="public/themes/{{app.theme}}/assets/images/layout/home-landing/info-03.jpg" alt="">
            </div>
            <div class="info-box-content text-center">
                <h3 class="info-box-title">Great for Teamwork.</h3>
                <p>
                    Maecenas volutpat, diam enim sagittis quam, id porta quam. Sed id dolor consectetur fermentum volutpat nibh, accumsan purus consectetur fermentum .
                </p>
                <a href="home-landing.html#" class="btn btn-default text-uppercase btn-readmore">Learn more</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- info-box-type-5 -->
<section class="section bg-dark-gray pt-100 pb-0">
<div class="container">
<div class="info-box-type-5 info-box-type-5-dark">
    <div class="info-box-header text-center">
        <div class="info-box-icon">
            <i class="dslc-icon dslc-icon-as-genius"></i>
        </div>
        <h3>A Stunning Design & Excellent Features for Our Partners</h3>
        <p>
            Developing breakthrough insights, think tank disrupt investment donate. Meaningful work peace, donors growth Kony 2012 transformative. <br>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <div class="divider divider-line-heading divider-fullwidth">
            <div class="line-middle"></div>
        </div>
    </div>
    <div class="info-box-content">
        <img src="public/themes/{{app.theme}}/assets/images/info-box/type-5-2.png" alt="" class="wow slideInLeft">
    </div>
</div>
</div>
</section>
<!-- testimonial -->
<section class="section section-testimonial section-testimonial-blue pt-100 pb-100 bg-parallax" data-background="public/themes/{{app.theme}}/assets/images/parallax/04.jpg">
<div class="container">
<div class="carousel owl-carousel" data-owl-navigation="false" data-owl-pagination="false" data-lg="1" data-md="1" data-sm="1" data-xs="1" data-owl-dots="true" data-owl-timeout="3000000">
    <div class="testimonial">
        <div class="testimonial-header">
            <div class="author clearfix">
                <div class="author-thumbnail">
                    <img src="public/themes/{{app.theme}}/assets/images/testimonial/01.jpg" alt="">
                </div>
                <div class="author-content">
                    <h3 class="author-name">Wave Bruce</h3>
                    <p>Designer Apple</p>
                </div>
            </div>
        </div>
        <div class="testimonial-content">
           <p>
                Proin rutrum lacus vitae eros accumsan aliquet. Mauris quis mi arcu. Phasellus sagittis quis lorem eget pharetra. Duis gravida odio eget nisl efficitur, sit amet tempor.
           </p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-header">
            <div class="author clearfix">
                <div class="author-thumbnail">
                    <img src="public/themes/{{app.theme}}/assets/images/testimonial/02.jpg" alt="">
                </div>
                <div class="author-content">
                    <h3 class="author-name">Valve McCoy</h3>
                    <p>Designer Nokia</p>
                </div>
            </div>
        </div>
        <div class="testimonial-content">
           <p>
                Proin rutrum lacus vitae eros accumsan aliquet. Mauris quis mi arcu. Phasellus sagittis quis lorem eget pharetra. Duis gravida odio eget nisl efficitur, sit amet tempor.
           </p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-header">
            <div class="author clearfix">
                <div class="author-thumbnail">
                    <img src="public/themes/{{app.theme}}/assets/images/testimonial/03.jpg" alt="">
                </div>
                <div class="author-content">
                    <h3 class="author-name">Nancy Willis</h3>
                    <p>Manager Samsung</p>
                </div>
            </div>
        </div>
        <div class="testimonial-content">
           <p>
                Proin rutrum lacus vitae eros accumsan aliquet. Mauris quis mi arcu. Phasellus sagittis quis lorem eget pharetra. Duis gravida odio eget nisl efficitur, sit amet tempor.
           </p>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-header">
            <div class="author clearfix">
                <div class="author-thumbnail">
                    <img src="public/themes/{{app.theme}}/assets/images/testimonial/04.jpg" alt="">
                </div>
                <div class="author-content">
                    <h3 class="author-name">Teresa Fox</h3>
                    <p>Founder Asus</p>
                </div>
            </div>
        </div>
        <div class="testimonial-content">
           <p>
                Proin rutrum lacus vitae eros accumsan aliquet. Mauris quis mi arcu. Phasellus sagittis quis lorem eget pharetra. Duis gravida odio eget nisl efficitur, sit amet tempor.
           </p>
        </div>
    </div>
</div>
</div>
</section>
<!-- info-box-2 -->
<section class="section">
<div class="info-box-type-4 clearfix">
<div class="info-box-thumbnail">
    <img src="public/themes/{{app.theme}}/assets/images/info-box/type-4-5.png" alt="">
</div>
<div class="info-box-content">
    <h3>Build for devs & by devs</h3>
    <p><strong>Mauris tempor ligula non lacus ornare consectetur.</strong></p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident.</p>
    <ul class="info-list">
        <li>Compatible with any Platform</li>
        <li>Unlimited User & Client</li>
        <li>Great Work on Mobile, Android, iOS ...</li>
        <li>Support 24 / 7</li>
    </ul>
</div>
</div>
</section>
<!-- info-box-2 reserve -->
<section class="section bg-lightgray pt-100 pb-100">
<div class="info-box-type-4 info-box-type-4-1  clearfix">
<div class="info-box-content">
    <h3>Earn Money is Very Easy</h3>
    <p><strong>Mauris tempor ligula non lacus ornare consectetur.</strong></p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident.</p>
    <ul class="info-list">
        <li>Compatible with any Platform</li>
        <li>Unlimited User & Client</li>
        <li>Great Work on Mobile, Android, iOS ...</li>
        <li>Support 24 / 7</li>
    </ul>
</div>
<div class="info-box-thumbnail">
    <img src="public/themes/{{app.theme}}/assets/images/info-box/type-4-6.png" alt="" class="mt-0">
</div>
</div>
</section>
