<ul class="menu clearfix">
  {{#each app.navigation}}
    <li class="menu-item">
      <a href="{{app.url}}{{url}}" class="text-uppercase">{{label}}</a>
    </li>
  {{/each}}
    <!-- <li class="menu-item has-children">
        <a href="home-landing.html#">Home</a>
        <ul class="sub-menu menu-mega">
            <li class="menu-item">
                <div class="content-inner">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mega-column">
                            <ul class="menu-mega-list">
                                <li class="list-header menu-item">Home layout</li>
                                <li class="menu-item"><a href="home-business-1.html" class="text-uppercase">Home-business 1</a></li>
                                <li class="menu-item"><a href="home-business-2.html" class="text-uppercase">Home-business 2</a></li>
                                <li class="menu-item"><a href="home-creative-1.html" class="text-uppercase">Home-creative 1</a></li>
                                <li class="menu-item"><a href="home-creative-2.html" class="text-uppercase">Home-creative 2</a></li>
                                <li class="menu-item"><a href="home-landing.html" class="text-uppercase">Home-landing</a></li>
                                <li class="menu-item"><a href="home-onepage.html"  class="text-uppercase">Home-onepage</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mega-column">
                            <ul class="menu-mega-list">
                                <li class="list-header menu-item">Good Concept</li>
                                <li class="menu-item"><a href="portfolio.html" class="text-uppercase">portfolio</a></li>
                                <li class="menu-item"><a href="agency.html" class="text-uppercase">agency digital</a></li>
                                <li class="menu-item"><a href="medical.html" class="text-uppercase">medical <span class="new">New</span></a></li>
                                <li class="menu-item"><a href="real-estate.html" class="text-uppercase">real estate</a></li>
                                <li class="menu-item"><a href="restaurant.html" class="text-uppercase">restaurant</a></li>
                                <li class="menu-item"><a href="woocommerce.html" class="text-uppercase">woocommerce</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="menu-item has-children">
        <a href="home-landing.html#">Page</a>
        <ul class="sub-menu menu-mega  ">
            <li class="menu-item">
                <div class="content-inner">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mega-column">
                            <ul class="menu-mega-list">
                                <li class="list-header menu-item">Inner Page</li>
                                <li class="menu-item"><a href="about-me.html" class="text-uppercase">About Me</a></li>
                                <li class="menu-item"><a href="about-us-1.html" class="text-uppercase">About us 1</a></li>
                                <li class="menu-item"><a href="about-us-2.html" class="text-uppercase">About us 2</a></li>
                                <li class="menu-item"><a href="our-service-1.html" class="text-uppercase">Our service 1</a></li>
                                <li class="menu-item"><a href="our-service-2.html" class="text-uppercase">Our service 2</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mega-column">
                            <ul class="menu-mega-list">
                                <li class="list-header menu-item">Inner Page 2</li>
                                <li class="menu-item"><a href="contact-us-1.html" class="text-uppercase">Contact us 1</a></li>
                                <li class="menu-item"><a href="contact-us-2.html" class="text-uppercase">Contact us 2</a></li>
                                <li class="menu-item"><a href="contact-us-3.html" class="text-uppercase">Contact us 3</a></li>
                                <li class="menu-item"><a href="404.html" class="text-uppercase">404 Page</a></li>
                                <li class="menu-item"><a href="faq.html" class="text-uppercase">faq</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li class="menu-item has-children">
        <a href="home-landing.html#" class="text-uppercase">portfolio</a>
        <ul class="sub-menu menu-dropdown">
            <li class="menu-item has-children">
                <a href="home-landing.html#" class="text-uppercase">portfolio fullwidth</a>
                <ul class="sub-menu menu-dropdown menu-dropdown-right">
                    <li class="menu-item"><a href="fullwidth-2-column.html" class="text-uppercase">fullwidth 2 columns</a></li>
                    <li class="menu-item"><a href="fullwidth-3-column.html" class="text-uppercase">fullwidth 3 columns</a></li>
                    <li class="menu-item"><a href="fullwidth-4-column.html" class="text-uppercase">fullwidth 4 columns</a></li>
                </ul>
            </li>
            <li class="menu-item has-children">
                <a href="home-landing.html#" class="text-uppercase">portfolio boxed</a>
                <ul class="sub-menu menu-dropdown menu-dropdown-right">
                    <li class="menu-item"><a href="boxed-2-column.html" class="text-uppercase">boxed 2 columns</a></li>
                    <li class="menu-item"><a href="boxed-3-column.html" class="text-uppercase">boxed 3 columns</a></li>
                    <li class="menu-item"><a href="boxed-4-column.html" class="text-uppercase">boxed 4 columns</a></li>
                </ul>
            </li>
            <li class="menu-item has-children">
                <a href="home-landing.html#" class="text-uppercase">Single portfolio</a>
                <ul class="sub-menu menu-dropdown menu-dropdown-right">
                    <li class="menu-item"><a href="single-portfolio-video.html" class="text-uppercase">Single youtube video</a></li>
                    <li class="menu-item"><a href="single-portfolio-image.html" class="text-uppercase">Single Slide Image</a></li>
                    <li class="menu-item"><a href="single-portfolio-audio.html" class="text-uppercase">Single Soundclound audio</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-item has-children">
        <a href="home-landing.html#" class="text-uppercase">Blog</a>
        <ul class="sub-menu menu-dropdown ">
            <li class="menu-item has-children">
                <a href="home-landing.html#" class="text-uppercase">Blog width sidebar</a>
                <ul class="sub-menu menu-dropdown menu-dropdown-right">
                    <li class="menu-item"><a href="blog-sidebar-right.html" class="text-uppercase">Blog sidebar right</a></li>
                    <li class="menu-item"><a href="blog-sidebar-left.html" class="text-uppercase">Blog sidebar left</a></li>
                    <li class="menu-item"><a href="blog-sidebar-none.html" class="text-uppercase">Blog none sidebar</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="blog-grid.html" class="text-uppercase">Blog grid layout</a></li>
            <li class="menu-item"><a href="blog-masonry.html" class="text-uppercase">Blog Masonry</a></li>
            <li class="menu-item has-children">
                <a href="home-landing.html#" class="text-uppercase">Blog Format</a>
                <ul class="sub-menu menu-dropdown menu-dropdown-right">
                    <li class="menu-item"><a href="blog-slider-image.html" class="text-uppercase">Blog-slider image</a></li>
                    <li class="menu-item"><a href="blog-post-thumb.html" class="text-uppercase">Blog post with thumb</a></li>
                    <li class="menu-item"><a href="blog-post-quote.html" class="text-uppercase">Blog post quote</a></li>
                    <li class="menu-item"><a href="blog-post-audio.html" class="text-uppercase">Blog post audio</a></li>
                    <li class="menu-item"><a href="blog-html5-vido.html" class="text-uppercase">Blog html5 video</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="menu-item"><a href="shop.html" class="text-uppercase">shop</a></li>
    <li class="menu-item"><a href="contact.html" class="text-uppercase">contact</a></li> -->
</ul>
