<section class="section bg-parallax section-landing-subcribe pt-100 pb-100" data-background="public/themes/{{app.theme}}/assets/images/layout/home-landing/subcribe-parallax.jpg">
    <div class="bg-overlay" style="opacity: 0.5"></div>
    <div class="container">
        <div class="section-header text-center">
            <div class="section-icon small">
                <i class="dslc-icon dslc-icon-as-hotairballoon"></i>
            </div>
            <h4>RESTA AGGIORNATO</h4>
            <p>Nessuno spam, riceverai informazioni riguardo i prodotti Datasound.</p>
        </div>
        <div class="section-content">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
                <form action="{{app.url}}/newsletter/subscribe" method="get" accept-charset="utf-8">
                    <input type="email" placeholder="Indirizzo email">
                    <button type="button">Registrati</button>
                </form>
            </div>
        </div>
    </div>
</section>
