<!-- slider -->
<section class="slider">
    <!-- START REVOLUTION SLIDER 5.1.5 fullscreen mode -->
        <div id="rev_slider_7_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.5">
    <ul>    <!-- SLIDE  -->
        <li data-index="rs-22" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{app.url}}/public/themes/{{app.theme}}/assets/images/parallax/04.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="{{app.url}}/public/themes/{{app.theme}}/assets/images/parallax/04.jpg"  alt=""  width="1400" height="933" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper  "
                 id="slide-22-layer-10"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-width="full"
                data-height="full"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"

                 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="s:300;s:300;"
                data-start="750"
                data-basealign="slide"
                data-responsive_offset="on"
                data-responsive="off"

                style="z-index: 5;background-color:rgba(0, 0, 0, 0.30);border-color:rgba(0, 0, 0, 0.50);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-Title-Landing   tp-resizeme"
                 id="slide-22-layer-1"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-87','0','-22','-29']"
                            data-fontsize="['50','70','40','30']"
                data-lineheight="['70','70','40','30']"
                data-fontweight="['300','800','800','800']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"

                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"


                style="z-index: 6; white-space: nowrap;">Landing Page Template<br> for your Business & Marketing
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-SubTitle   tp-resizeme"
                 id="slide-22-layer-4"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['42','52','18','7']"
                            data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"

                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"


                style="z-index: 7; white-space: nowrap;">FOLLOW ME FOR NEWSLETTER
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption NotGeneric-CallToAction  "
                 id="slide-22-layer-11"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['376','336','252','191']"
                            data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"
                    data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                    data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bs:solid;"

                 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                 data-transform_out="opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-responsive_offset="on"
                data-responsive="off"

                style="z-index: 8; white-space: nowrap;cursor:default;"><div id="mc_embed_signup"><form action="http://alenastudio.us10.list-manage.com/subscribe?u=f2e21eb858ed6d4d505e8e877&id=ffdd9414e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll"><input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email Address" required><div style="position: absolute; left: -5000px;"><input type="text" name="b_a5738148e5ec630766e28de16_3e718acc63" tabindex="-1" value=""></div><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div></form></div>
            </div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption rev-scroll-btn "
                 id="slide-22-layer-12"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['40','40','40','40']"
                            data-width="35"
                data-height="55"
                data-whitespace="nowrap"
                data-transform_idle="o:1;"

                 data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                 data-transform_out="opacity:0;s:300;e:Power2.easeInOut;s:300;e:Power2.easeInOut;"
                data-start="1000"
                data-splitin="none"
                data-splitout="none"
                data-actions='[{"event":"click","action":"scrollbelow","offset":"px"}]'
                data-responsive_offset="on"
                data-responsive="off"

                style="z-index: 9; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 500;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                <span>
                                </span>
            </div>
        </li>
    </ul>
    <div class="tp-static-layers">
    </div>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</section>
